* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* For common Use */
.container-size {
  max-width: 1360px;
  margin: 0 auto;
}

/* Header Start */
header {
  margin-top: 16px;
}
.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.link-parent {
  display: flex;
  gap: 32px;
  list-style: none;
}

.link-parent a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.my-btn {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  background-color: #469165;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.my-btn:hover{
background-color: brown;
}

/* Nav End */

#hero {
  height: 674px;
  background-image: url("../assets/hero-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.hero-content {
  text-align: center;
  padding: 154px 340px;
}

.hero-content .circle {
  background-color: #ffffff;
  border-radius: 1000px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 72px;
  color: #ffffff;
  margin-top: 20px;
}

.hero-content h1 span {
  color: #30b868;
}

.hero-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 16px;
}

.hero-content .my-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
.hero-content .my-buttons .btn-1 {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  background-color: #469165;
  color: #ffffff;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.hero-content .my-buttons .btn-2 {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  background-color: #ffffff00;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.hero-content .my-buttons .btn-1:hover{
 background-color: brown;
}
.hero-content .my-buttons .btn-2:hover{
 background-color: brown;
}
/* Notes start */

#notes {
  margin-top: 45px;
}
#notes .notes-container .notes-heading {
  text-align: center;
}
#notes .notes-container .notes-heading h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
#notes .notes-container .notes-heading p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#notes .notes-container .notes-box {
  display: flex;
  gap: 25px;
}

.notes-box .notes-card {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  max-width: 322px;
  margin-top: 44px;
  text-align: center;
}
.notes-card .icon-circle {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  margin-bottom: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.notes-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}
.notes-card p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #627382;
}

/* Notes End */

.brain-section {
  padding-top: 120px;
}

.brain-section .brain-container {
  display: flex;
  align-items: center;
  gap: 60px;
}
.brain-section .brain-container .brain-img {
  height: 600px;
  width: 600px;
}

.brain-section .brain-container .brain-content .solution-msg {
  font-size: 16px;
  font-weight: 500;
  color: #469165;
  margin-bottom: 16px;
}

.brain-section .brain-container .brain-content h2 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.brain-section .brain-container .brain-content p {
  font-size: 16px;
  color: #627382;
  margin-bottom: 40px;
  line-height: 20px;
}
.list-items-brain {
  list-style: none;
}

.list-items-brain li {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-top: 16px;
}

/* 2nd-Brain-Done */

.early-section {
  margin-top: 120px;
}
.early-section .early-section-box {
  background-color: #f7f6f2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.early-section .early-section-box .early-section-heading {
  margin-top: 80px;
}
.early-section .early-section-box .early-section-heading h2 {
  font-size: 40px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.early-section-heading .early-section-para {
  font-size: 16px;
  color: #627382;
  margin-bottom: 16px;
  line-height: 24px;
}
.early-section-btn .my-btn {
  display: inline-flex;
  gap: 10px;
}
.early-section-para2 {
  font-size: 16px;
  color: #627382;
  margin-top: 16px;
  margin-bottom: 80px;
}

/* Early Section End */

.footer{
margin-top: 120px;
background-color: #001931;
}


.footer .footer-box{
display: flex;
justify-content: space-between;
align-items: flex-start;
padding-top: 120px;
padding-bottom: 80px;
}

.footer-social {
margin-right: 80px;
}

.footer-social p{
font-size: 20px;
font-weight: 500;
color: #FFFFFF;
}

.social-icons{
display: flex;
gap: 16px;
}
.social-icons a{
height: 20px;
width: 20px;
display: flex;
justify-content: center;
align-items: center;
background-color: #FFFFFF;
color: #000000;
text-decoration: none;
border-radius: 50%;
margin-top: 16px;
gap: 16px;
} 

.hr-copyright{
padding-bottom: 30px;
}

.hr-copyright hr{
border: none;
border-top: 1px solid rgba(229, 231, 235, 0.2);
}

.hr-copyright p{
margin-top: 30px;
color: #FAFAFA;
font-size: 16px;
text-align: center;
}